body{
    background-color: rgb(190, 141, 236);
}

#luz{
    background-color: rgb(169, 103, 231);
}

#contacto{
    background-color: rgb(169, 103, 231);
}

#cool{
    background-color: rgb(158, 82, 230);
}

#meso{
    background-color: rgb(158, 82, 230);
}

#visual{
    background-color: rgb(158, 82, 230);
}

#modis{
    background-color: rgb(158, 82, 230);
}

#mesa{
    background-color: rgb(158, 82, 230);
}